VITE_SUPABASE_URL=https://eastdfvddeawufnpxxbs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhc3RkZnZkZGVhd3VmbnB4eGJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxNDk2ODcsImV4cCI6MjEwMjcyNTY4N30.axUmEOKGk1gWsRTzgr3q9rI2JS-LDdIPmb3l_5eYAuk
